inventarioapp/__pycache__/*

/apps/users/__pycache__/*
/apps/users/migrations/*

/apps/playerprofiles/__pycache__/
/apps/playerprofiles/migrations/*

/apps/items/__pycache__/
/apps/items/migrations/*

/apps/inventories/__pycache__/
/apps/inventories/migrations/*

/apps/inventoryitems/__pycache__/
/apps/inventoryitems/migrations/*

/apps/quests/__pycache__/
/apps/quests/migrations/*

/apps/questcompleteds/__pycache__/
/apps/questcompleteds/migrations/*

/apps/achievements/__pycache__/
/apps/achievements/migrations/*
